<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg border-0" style="width: 360px; border-radius: 12px;">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == "alert" ? "danger" : "success" %> text-center">
        <%= message %>
      </div>
    <% end %>
    <h2 class="text-center mb-4 text-dander fw-bold">管理者ログイン</h2>
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check mb-3">
          <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
          <%= f.label :remember_me, class: "form-check-label", for: "remember_me" %>
        </div>
      <% end %>

      <div class="d-grid">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>