<!DOCTYPE html>
<html>
  <head>
    <title>CookingApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/54104fd427.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light">
    <header class="bg-dark text-white p-3">
      <div class="container">
        <h1>管理者ダッシュボード</h1>
        <%= link_to "ダッシュボード", admins_root_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to "ユーザー管理", admins_users_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to "レシピ一覧", admins_recipes_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to "コメント一覧", admins_comments_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to "サイトへ戻る", root_path, class: "btn btn-outline-light btn-sm" %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </header>

    <main class="container py-4">
      <% flash.each do |key, message| %>
        <div class="flash <%= key %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>